<div class="container-fluid d-flex h-100 text-center">
    <div class="container d-flex flex-column justify-content-center">
        <div class="img-container">
            <img id="R_M_img" class="img-responsive" src="/assets/img/RickAndMorty.jpg" alt="RickAngMorty.jpg">
        </div>
        <div class="d-flex flex-row">
            <mat-icon>search</mat-icon>
            <input id="filter" class="w-80"  placeholder="Filter by name">
        </div>
        <div class="container">
            <mat-card class="example-card">
                <img mat-card-image src="/image.png" alt="Photo of a Shiba Inu">
                <mat-card-header>
                    <mat-card-title>{{title}}</mat-card-title>
                    <mat-card-subtitle>{{title}}</mat-card-subtitle>
                  </mat-card-header>
              </mat-card>
              
        </div>
    </div>
</div>