/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    width: 100vw;
    max-width: 1920px;    
    overflow-x: hidden;
    font-family: "Sono", sans-serif;
}
